.profile {
    padding: 30px;
    background-color: var(--white-color);
}

.profile-header {
    width: 95%;
    max-width: 1100px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--success-color);
    margin: 0 auto;
    border-radius: 10px;
}

.profile-image-wrapper {
    width: 120px;
    height: 120px;
    position: relative;
    text-align: center;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--white-color);
}

.upload-profile-photo-icon,
.upload-profile-photo-btn {
    color: var(--white-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--white-color);
    border-radius: 50%;
    padding: 0 5px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    margin: auto;
    width: max-content;
    cursor: pointer;
    z-index: 10;
    font-size: 25px;
}

.upload-profile-photo-btn {
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: var(--white-color);
    right: -65px;
}

.profile-username {
    font-size: 30px;
    color: var(--dark-color);
    margin: 10px 0;
}

.profile-bio {
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-color);
    margin: 10px 0;
}

.user-date-joined strong {
    color: var(--gray-color);
    font-size: 17px;
}

.user-date-joined span {
    color: var(--dark-color);
    font-size: 15px;
    font-weight: 500;
}

.profile-update-btn {
    font-size: 21px;
    font-weight: 500;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.profile-recipes-list {
    width: 800px;
    margin: 20px auto;
}

.profile-recipes-list-title {
    margin-bottom: 20px;
    padding: 5px 0;
    font-size: 40px;
    color: var(--dark-color);
    border-bottom: 2px solid var(--primary-color);
}

.delete-account-btn {
    background-color: var(--primary-color);
    color: var(--error-color);
    padding: 10px 20px;
    border: 2px solid var(--error-color);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

.delete-account-btn:hover {
    background-color: var(--error-color);
    color: var(--white-color);
    box-shadow: 0 4px 15px rgba(var(--error-color-rgb), 0.2);
    transform: translateY(-2px);
}

/* Media Queries */
@media (max-width: 920px) {
    .profile-recipes-list {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .profile {
        padding: 15px;
    }

    .profile-header {
        padding: 10px;
    }

    .profile-bio {
        text-align: center;
    }
}
