.header {
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    position: relative;
    z-index: 99;
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .header-logo {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
    display: flex;
    align-items: center;
  }

  .header-menu {
    display: none;
  }

  .header-menu .menu-icon {
    font-size: 40px;
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-link {
    margin: 0 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-color);
    align-items: center;
    display: flex;
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    color: var(--primary-color);
  }

  .nav-link .nav-icon {
    margin-right: 8px;
    font-size: 20px;
    vertical-align: middle;
  }

  .header-right-link {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 25px;
    padding: 8px 15px;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-flex;
  }

  .header-right-link:hover {
    background-color: var(--gray-color);
    transform: translateY(-2px);
  }

  .header-right-link svg {
    margin-right: 5px;
    vertical-align: middle;
  }

  .header-right-user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.header-right-username {
    font-size: 21px;
    font-weight: 500;
    color: var(--dark-color);
    margin-right: 10px;
    text-transform: capitalize;
    cursor: pointer;
}

.header-right-user-photo {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.header-right-dropdown {
  position: absolute;
  right: 0;
  top: 120%;
  background-color: var(--white-color);
  border-radius: 8px;
  padding: 12px;
  width: 200px;
  text-align: left;
  box-shadow: 0 4px 20px rgba(92, 49, 48, 0.15);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.header-right-user-info:hover .header-right-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header-dropdown-item {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
}

.header-dropdown-item:hover {
  color: var(--accent-color);
  background-color: var(--recipe-bg-color);
}


  @media (max-width: 990px) {
    .header-left {
      flex-direction: row-reverse;
    }

    .header-menu {
      display: block;
      margin-right: 20px;
    }

    .navbar {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background-color: var(--white-color);
      transition: all .7s ease-in-out;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 20px 30px;
    }

    .nav-link {
      margin: 0;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 520px) {
    .header {
        padding: 0 10px;
    }

    .header-logo {
        font-size: 20px;
    }

    .header-logo .chefhatlogo {
        width: 20px;
        height: 20px;
    }

    .header-right-link {
        font-size: 11px;
        padding: 5px 7px;
    }

    .header-menu {
      margin-right: 5px;
      width: 32px;
      height: 32px;
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
    }
}
